.reg {
    
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: rgb(89, 0, 255);
    font-size: 50px;
    
    
} 
.form > p {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    color: rgb(0, 0, 0);
    font-size: 50px;

    
} 

.subButton {

    margin: 25px;
    width: 20vw;
}